@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Source+Code+Pro&family=Ubuntu&display=swap');

/* font-family: 'Nunito', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Ubuntu', sans-serif; */

:root{
  --primary-color: #59472D; /* var(--primary-color);*/
  --background-color: grey; /* var(--background-color); */
  --accent-color: #5A4B73; /* var(--border-color); */

  --header-font: 'Ubuntu', sans-serif; /* var(--header-font); */
  --body-font: 'Nunito', sans-serif; /* var(--body-font); */
  --code-font: 'Source Code Pro', monospace; /* var(--code-font); */
}

body{
  background-color: var(--background-color);
  margin:0;
  /* height: 100%; */
}
h1{
  margin:0;
  text-align: center;
  font-family: var(--header-font);
  color: white;
}
p{
  font-family: var(--body-font);
  text-align: center;
  margin:16px;
  color: lightgrey;
}
a{
  font-family: var(--body-font);
  color: lightgrey;
  text-decoration: none;
  transition:text-shadow 0.75s linear 0s;
  /* transition:color 0.75s linear 0s; */
}
a:hover{
  font-family: var(--body-font);
  color: white;
  text-shadow: 2px 2px var(--border-color);
  transition:color 0.75s linear 0s;
}
img {
  margin: 4%;
}
iframe{
  width:100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border:none;
  overflow: hidden;
  scrolling:no;
}
.container{
  background-color: #EEEEEE77;
  padding: 5px;

  border-radius: 24px;
}
.banner{
  background-color: var(--primary-color);;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 2%;
}
.toolbar{
  position: sticky;
  top:7px;

  margin: 0px;
  height: 45px;
  background-color: var(--primary-color);
  /* border-color: var(--border-color);
  border-width: 5px; */
  /* border-radius: 0px; */

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.toolbar > * {
  padding:0 5px;
  margin:0 5px;
}
.toolbar > a > p{
  color: lightgrey;
  font-family:var(--code-font);
  font-size: 20px;
}
.four0four{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height:100%;
  background:linear-gradient(0deg, rgb(80, 104, 77) 3%, rgb(128, 128, 128) 100%);
}
